h3 {
	text-align: center;
	color: red;
	font-family: impact;
}

body {
	text-align: center;
	font-family: candara;
	font-size: 16px;
}

h1 {
	text-align: center;
	color: red;
	font-family: impact;
}